name: Test on Linux runner
on:
  push:

permissions:
  contents: read

jobs:
  protocol:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
    - run: k6 run ./dev/protocol.js --quiet

  browser:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
        browser: true
    - run: k6 run ./dev/browser.js --quiet

  use-latest-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
    - run: k6 run ./dev/protocol.js --quiet