name: Test on MacOS runner
on:
  push:

permissions:
  contents: read

jobs:
  protocol:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
    - run: k6 run ./dev/protocol.js --quiet

  browser:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
        browser: true
    - run: k6 run ./dev/browser.js --quiet

  use-latest-release:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
    - run: k6 run ./dev/protocol.js --quiet