name: Workflow using the Grafana k6 setup action on MacOS runner
on:
  push:

jobs:
  protocol:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
    - run: k6 run ./dev/protocol.js --quiet

  browser:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
        browser: true
    - run: k6 run ./dev/browser.js --quiet

  use-latest-release:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Grafana k6
      uses: ./
    - run: k6 run ./dev/protocol.js --quiet