name: Test on Windows runner
on:
  push:

permissions:
  contents: read

jobs:
  protocol:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
    - name: Check if correct k6 version is installed
      run: k6 --version | findstr "0.49.0"
    - run: k6 run ./dev/protocol.js --quiet

  use-latest-release:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
    - run: k6 run ./dev/protocol.js --quiet

  browser:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false
    - name: Setup Grafana k6
      uses: ./
      with:
        k6-version: '0.49.0'
        browser: true
    - run: k6 run ./dev/browser.js --quiet